.version.index /* version checker */
{
	color: #00001B;
	background-color: #E603AA;
}

@-ms-viewport
{
	width: 840px;
}

@-webkit-viewport
{
	width: 840px;
}

@-o-viewport
{
	width: 840px;
}

@-moz-viewport
{
	width: 840px;
}

@viewport
{
	width: 840px;
}

.html
{
	background-color: #FFE030;
}

#page
{
	z-index: 1;
	width: 840px;
	min-height: 1251px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 71px;
	padding-bottom: 150px;
}

#tab-panelu175
{
	z-index: 2;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u176
{
	z-index: 3;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u177
{
	z-index: 4;
	width: 281px;
	min-height: 25px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u177:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 281px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u179-4
{
	z-index: 5;
	width: 281px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	line-height: 25px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u177:hover #u179-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u177.TabbedPanelsTabSelected #u179-4 p
{
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u181
{
	z-index: 9;
	width: 281px;
	min-height: 25px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
	left: 281px;
	border-width: 1px 0px 1px 1px;
}

#u181:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 281px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u177.TabbedPanelsTabSelected,#u181.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 281px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u182-4
{
	z-index: 10;
	width: 281px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	line-height: 25px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u181:hover #u182-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	z-index: 14;
	width: 280px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
	left: 562px;
}

#u185:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 280px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u185.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 280px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u187-4
{
	z-index: 15;
	width: 280px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	line-height: 25px;
	font-size: 18px;
	color: #999999;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u185:hover #u187-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u177.TabbedPanelsTabSelected #u179-4,#u181.TabbedPanelsTabSelected #u182-4,#u185.TabbedPanelsTabSelected #u187-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u189
{
	z-index: 19;
	background-color: transparent;
}

#u194
{
	z-index: 20;
	border-style: solid;
	border-color: #999999;
	background-color: #3F00A9;
	position: relative;
	padding: 23px 414px 551.349809139731px 130px;
	border-width: 0px 1px 1px;
}

#u195
{
	z-index: 27;
	width: 298px;
	background-color: transparent;
	position: relative;
}

#u197-6
{
	z-index: 21;
	width: 270px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 43px;
	position: relative;
}

#u198
{
	z-index: 29;
	border-style: solid;
	border-color: #999999;
	background-color: #3F00A9;
	padding-bottom: 474px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u200
{
	z-index: 36;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u195_img,#u200_img
{
	padding-right: 1px;
}

#pu199-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 170px;
}

#u199-6
{
	z-index: 30;
	width: 270px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u214
{
	z-index: 38;
	width: 539px;
	height: 279px;
	border-color: #000000;
	background-color: #0061E6;
	margin-left: 1px;
	margin-top: 43px;
	position: relative;
}

#u190
{
	z-index: 39;
	border-style: solid;
	border-color: #999999;
	background-color: #3F00A9;
	position: relative;
	border-width: 0px 1px 1px;
}

#u190_position_content
{
	padding-top: 20px;
	padding-bottom: 297px;
}

#u192
{
	z-index: 46;
	width: 843px;
	background-color: transparent;
	left: -1px;
	position: relative;
}

#u192_img
{
	padding-right: 4px;
}

#u191-6
{
	z-index: 40;
	width: 814px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u197-2,#u199-2,#u191-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u197-4,#u199-4,#u191-4
{
	line-height: 20px;
	color: #999999;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#tab-panelu175-bw
{
	z-index: 2;
	height: 1030px;
}

body
{
	position: relative;
	min-width: 840px;
}

#page .verticalspacer
{
	clear: both;
}

